
body
/*, #app */
{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1px;
  padding: 0px;
}
